
.section-padding{
    position: relative;
}

.section-bg{
    background: url('../img/bg-img-hero.png');
    background-size: cover;

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 57%;
    content: '';
}
.section-bg::after{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-color: #242b6b;
    opacity: .8;
}

.contact-from{
    padding: 120px 0;
}
.contact-from input,textarea{
    padding: 10px;
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);

}
.contact-from input:focus{
    border: 1px solid;
}
.contact-from textarea{

}
.contact-from input[type="submit"]{
  width: auto;
  padding: 10px;
  font-weight: bold;
}